spring:
  application:
    name: user-service

  datasource:
    url: jdbc:mysql://localhost:3307/productdb?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: product
    password: product123
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  data:
    redis:
      host: localhost
      port: 6379

server:
  port: 8081

jwt:
  secret: your-secret-key-must-be-at-least-256-bits-long-for-HS256-algorithm-security
  expiration: 86400000
  refresh-expiration: 604800000

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /api-docs


eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}