apiVersion: v1
kind: Secret
metadata:
  name: livemart-secrets
  namespace: livemart
type: Opaque
stringData:
  MYSQL_USER_USERNAME: "user"
  MYSQL_USER_PASSWORD: "user123"
  MYSQL_PRODUCT_USERNAME: "product"
  MYSQL_PRODUCT_PASSWORD: "product123"
  MYSQL_ORDER_USERNAME: "order"
  MYSQL_ORDER_PASSWORD: "order123"
  JWT_SECRET: "your-secret-key-must-be-at-least-256-bits-long-for-HS256-algorithm-security"
